.backbutton {
    margin-top: 1.5vw;
    margin-left: 4vh;
    font-size: 18px;
    display: flex;
    background: #fff;
    color: #0070ad;
    border: none;
    outline: none;
}
.headerclass {
    font-family: "ubuntu", sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    margin-left: 5vh;
    margin-top: 3vh !important;
    margin-bottom: 2vh !important;
}
.maincontent {
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
    margin-left: 5vh;
    height: 130%;
    overflow: auto;
    border-radius: 10px;
    width: 97%;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.footercontainer {
    margin-top: 0.5%;
    display: flex;
    flex-direction: row;
}
.clssetapimg {
    display: flex;
    margin-left: 80vh;
    margin-top: 1.6vh;
    height: 20px !important;
    width: 20px !important;
}
.clsscopyrightimg {
    display: flex;
    margin-top: 1.5vh !important;
    height: 16px !important;
    width: 16px !important;
}
.clsscopyrighttext {
    font-size: 16px;
    color: #999999;
    display: 'flex';
    margin-top: 1vh !important;
}
.copyrightcontainer {
    margin-left: 75vh;
    display: flex;
}